@model facebook.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <span asp-validation-for="name" id="name"  name="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script src="~/ckeditor_4.14.0_a01b60dc09d8/ckeditor/ckeditor.js"></script>
<script type="text/javascript">CKEDITOR.replace('name');</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

